@media (min-width: 575px) {
  .grid-container1 i {
    display: none;
  }
}
@media (min-width: 1250px) {
  .space-image {
    height: 1370px;
  }
}
@media (max-width: 1250px) {
  .space-image {
    height: 1450px;
  }
}
@media (min-width: 575px) {
  .navbarDiv {
    height: 45px;
  }
  .navbarDiv .navbarlink {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .navbarDiv {
    height: 100%;
  }
  .grid-container1 {
    margin-top: 20px;
    padding-top: 20px;
  }
  .grid-container1 i {
    display: contents;
  }
  .case-studies {
    display: none;
  }
}
@media (min-width: 991px) {
  .navbarlink {
    width: 50%;
  }
  .section4 {
    display: none;
  }
  .para .subscribe-now-phone {
    display: none;
  }
  .subscribe-now {
    display: flex;
  }
  .Collective-Ltd {
    font-size: 8px;
  }
  .footer-icon {
    display: flex;
  }
  .footer-buttom {
    font-size: 8px;
  }
  .footer-icon1 {
    display: none;
    max-width: 12%;
  }
  .space-image {
    height: 1450px;
  }
  .space-image .space-paragraph {
    width: 44%;
  }
  .home-img {
    display: none;
  }
}
@media (max-width: 991px) {
  .home-img {
    display: block;
    height: 450px;
  }
  .navbarlink {
    width: 70%;
  }
  .section4 {
    display: block;
  }
  .paragraphwrapper .sec2b {
    display: none;
  }
  .para {
    width: 80%;
    margin: 0 auto;
  }
  .para .subscribe-now-phone {
    display: flex;
    margin-top: 20px;
  }
  .para .para3 {
    margin: 0 auto;
  }
  .subscribe-now {
    display: none;
    width: 80%;
    margin: 0 auto 0 auto;
  }
  .Collective-Ltd {
    font-size: 12px;
    max-width: 90%;
    margin: 0 auto;
  }
  .footer-icon {
    display: none;
  }
  .footer-buttom {
    font-size: 12px;
    max-width: 90%;
    margin: 0 auto;
  }
  .footer-icon1 {
    display: flex;
    max-width: 40%;
  }
  .space-image {
    height: auto;
  }
  .space-image .space-img1 {
    display: none;
  }
  .space-image .space-paragraph {
    width: 100%;
    padding-bottom: 30px;
  }
  .space-image .space-img2 {
    display: none;
  }
}
@media (max-width: 800px) {
  .navbarlink {
    width: 90%;
  }
}
@media (max-width: 615px) {
  .navbarlink {
    width: 100%;
  }
  .home-img {
    height: 350px;
  }
}
@media (min-width: 786px) {
  .subscribe-now-phone input {
    width: 70%;
  }
}
@media (max-width: 786px) {
  .para .subscribe-now-phone {
    flex-direction: column;
  }
  .para .subscribe-now-phone input {
    width: 100%;
  }
}
@media (min-width: 613px) {
  .subcribe {
    max-width: 65%;
  }
  .subcribe .para3 {
    max-width: 70%;
  }
}
@media (max-width: 613px) {
  .subcribe {
    max-width: 90%;
  }
  .subcribe .para3 {
    max-width: 100%;
  }
  .subcribe .para3 .para-updates {
    font-size: 24px;
  }
}
@media (min-width: 418px) {
  .section4 .img2 {
    margin: 0 auto;
    width: 60%;
  }
  .section4 .img2 img {
    width: 100%;
  }
  .paragraphwrapper .sec2a .foof-nu {
    font-size: 38px;
    font-weight: 600;
  }
  .paragrah1 {
    font-size: 66px;
  }
}
@media (max-width: 418px) {
  .section4 .img2 {
    margin: 0 auto;
    width: 80%;
  }
  .section4 .img2 img {
    width: 100%;
  }
  .paragraphwrapper .sec2a .foof-nu {
    font-size: 22px;
    font-weight: 600;
  }
  .paragrah1 {
    font-size: 40px;
  }
  .home-img {
    height: 200px;
  }
}
body {
  margin: 0;
  padding: 0;
}

.navwrapper .navbarDiv .navbarlink {
  margin: 0 auto;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
}
.navwrapper .navbarDiv .navbarlink .link-list {
  margin: auto 0;
}
.navwrapper .navbarDiv .navbarlink .link-list a {
  color: #9391a4;
  font-weight: 100;
  width: 90px;
  padding: 0 5px;
}
.navwrapper .navbarDiv .navbarlink .link-list a:hover {
  color: #C38DA1;
}

.aboutcontent-wrapper {
  background-color: #00BBFF;
  padding: 50px 0;
}
.aboutcontent-wrapper .aboutwrapper {
  width: 72%;
  margin: 0 auto;
}
.aboutcontent-wrapper .aboutwrapper .aboutwrapper1 {
  margin-top: 5%;
}
.aboutcontent-wrapper .aboutwrapper .aboutwrapper1 img {
  width: 90%;
}
.aboutcontent-wrapper .aboutwrapper .aboutwrapper2 {
  font-family: "Work Sans", sans-serif;
  color: white;
}
.aboutcontent-wrapper .aboutwrapper .aboutwrapper2 .about-para1 {
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
}
.aboutcontent-wrapper .aboutwrapper .aboutwrapper2 .about-para2 {
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.aboutcontent-wrapper .aboutwrapper .aboutwrapper2 .about-para3 {
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  margin-top: 20px;
}
.aboutcontent-wrapper .aboutwrapper .aboutwrapper2 .about-para4 {
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  margin-top: 20px;
}

.aboutcontent-wrapper1 {
  background-color: #FFA7BE;
  padding: 60px 0;
}
.aboutcontent-wrapper1 .aboutwrapper {
  width: 72%;
  margin: 0 auto;
}
.aboutcontent-wrapper1 .aboutwrapper .aboutwrapper1 {
  background-color: red;
}
.aboutcontent-wrapper1 .aboutwrapper .aboutwrapper1 img {
  width: 100%;
}
.aboutcontent-wrapper1 .aboutwrapper .aboutwrapper2 {
  font-family: "Work Sans", sans-serif;
  color: white;
}
.aboutcontent-wrapper1 .aboutwrapper .aboutwrapper2 .about-para1 {
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
}
.aboutcontent-wrapper1 .aboutwrapper .aboutwrapper2 .about-para2 {
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.aboutcontent-wrapper1 .aboutwrapper .aboutwrapper2 .about-para3 {
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  margin-top: 20px;
}
.aboutcontent-wrapper1 .aboutwrapper .aboutwrapper2 .about-para4 {
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  margin-top: 20px;
}
.aboutcontent-wrapper1 .aboutwrapper .aboutwrapper2 .about-para5 {
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  margin-top: 20px;
}
.aboutcontent-wrapper1 .aboutwrapper .aboutwrapper2 .about-para5 a {
  color: white;
  font-style: italic;
}

.aboutcontent-wrapper2 {
  background-color: #00BBFF;
  padding: 50px 0 0 0;
}
.aboutcontent-wrapper2 .aboutwrapper {
  width: 72%;
  margin: 0 auto;
}
.aboutcontent-wrapper2 .aboutwrapper .aboutwrapper1 img {
  width: 90%;
}
.aboutcontent-wrapper2 .aboutwrapper .aboutwrapper2 {
  font-family: "Work Sans", sans-serif;
  margin-top: 10%;
  color: white;
}
.aboutcontent-wrapper2 .aboutwrapper .aboutwrapper2 .about-para1 {
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
}
.aboutcontent-wrapper2 .aboutwrapper .aboutwrapper2 .about-para2 {
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #B6E4EF;
  padding-bottom: 50px;
  padding-top: 20px;
}
.footer .Collective-Ltd {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.footer .Collective-Ltd .robin-ltd {
  font-weight: 700;
}
.footer .footer-icon {
  max-width: 12%;
  justify-content: space-between;
  margin: 10px auto 0 auto;
}
.footer .footer-icon i {
  font-size: 23px;
  color: black;
}
.footer .footer-buttom {
  margin-top: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.footer .footer-icon1 {
  justify-content: space-between;
  margin: 10px auto 0 auto;
}
.footer .footer-icon1 i {
  font-size: 23px;
  color: black;
}