@media (min-width:575px){
    .grid-container1{
        i{
            display: none;
        }
    }
    

}


@media (min-width:575px){
    .navbarDiv{
        height: 45px;
        .navbarlink{
            text-align: center;
        }
    }

}
@media (max-width:575px) {
    .navbarDiv{
        height: 100%;
    }
    .grid-container1{
        margin-top: 20px;
        padding-top: 20px;
        
        i{
            display: contents;
        }
    }
    .case-studies{
        display: none;
    }
}



@media (min-width:991px){
    .navbarlink{
        width: 50%;
    }
    .section4{
        display: none;
    }
    .para{
        .subscribe-now-phone{
            display: none;
        }
    }
    
    .subscribe-now{
        display: flex;
    }
    .Collective-Ltd{
        font-size: 8px;
        

    }

    .footer-icon{
        display: flex;
    }
    .footer-buttom{
        font-size: 8px;
    }
     .footer-icon1{
        display: none;
        max-width: 12%;

    }
    

}
@media (max-width:991px){
    .navbarlink{
        width: 70%;

    }
    .section4{
        display: block;
    }

    .paragraphwrapper{
        .sec2a{
            
        }
        .sec2b{
            display: none;
        }

    }
    .para{
       
        width: 80%;
        margin: 0 auto;
        .subscribe-now-phone{
            display: flex;
            
            margin-top: 20px;
        }
        .para3{
            margin: 0 auto;
        }
    }
    .subscribe-now{
       display: none;
        width: 80%;
        margin:0 auto 0 auto;
    }
    .Collective-Ltd{
        font-size: 12px;
        max-width: 90%;
      
        margin: 0 auto;

    }
    .footer-icon{
        display: none;
    }
    .footer-buttom{
        font-size: 12px;
        max-width: 90%;
      
        margin: 0 auto;
    }
    .footer-icon1{
        display: flex;
        max-width: 40%;

    }

}
@media (max-width:800px){
    .navbarlink{
        width: 90%;

    }

}
@media (max-width:615px){
    .navbarlink{
        width: 100%;

    }

}


@media (min-width:786px){
    .subscribe-now-phone{
        input{
            width: 70%;

        }

    }

}

@media (max-width:786px){
    .para{

        .subscribe-now-phone{
            
            flex-direction: column;
            input{
                width: 100%;

            }
            
            button {
                
            }

        }
    }
    
}

@media (min-width:613px){
    .subcribe{
        max-width: 65%;

    
    .para3{
        max-width:70%;
    }
}

}
@media (max-width:613px){
    .subcribe{
        max-width: 90%;
    .para3{
        
        max-width: 100%;
        .para-updates{
            font-size: 24px;
        }
    }
}

}
@media (min-width:418px){
    .section4{
        .img2{ 
            margin: 0 auto;
            width: 60%;
          
              img{
                  width: 100%;
                  
                  
              }
          }
    }
    .paragraphwrapper{
        .sec2a{
            .foof-nu{
                font-size: 38px;
                font-weight: 600;
            }

        }

    }

}
@media (max-width:418px){
    .section4{
        .img2{ 
            margin: 0 auto;
            width: 80%;
          
              img{
                  width: 100%;
                  
                  
              }
          }
    }
    .paragraphwrapper{
        .sec2a{
            .foof-nu{
                font-size: 22px;
                font-weight: 600;
            }

        }

    }

}
