@import'./mediaquery';

body{
    
    margin: 0;
    padding: 0;
}
.navwrapper{
    
   
    .navbutton{
       
        
    }
    .navbarDiv{
     
        
    .navbarlink{
      
        margin: 0 auto;
        
        
        font-size: 14px;
      
       
        font-family: 'Work Sans', sans-serif;
        .link-list{
            margin: auto 0;
           
            
            a{
                color:#9391a4;
                font-weight: 100;
                width: 90px;
               
                padding: 0 5px;
               
                
            }
            a:hover{
                color: #C38DA1;
            }
           
        }
      
       
    }
    }
    }



    .footer{
        background-color: #B6E4EF;
        padding-bottom: 50px;
        padding-top: 20px;
        .Collective-Ltd{
            
            display: flex;
            flex-direction: column;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            .robin-ltd{
                font-weight: 700;
    
            }
    
        }
        .footer-icon{
            
           max-width: 12%;
           
          
           justify-content: space-between;
           margin: 10px auto 0 auto;
           
            i{
                font-size: 23px;
                color: black;
    
    
            }
            
        }
        .footer-buttom{
            
            margin-top: 20px;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
    
        }
        .footer-icon1{
            
            
           
            justify-content: space-between;
            margin: 10px auto 0 auto;
            
             i{
                 font-size: 23px;
                 color: black;
     
     
             }
             
         }
        
    }
