@import'./mediaquery';
body{
    margin: 0;
    padding: 0;
    
}
.navwrapper{
    
   
    .navbutton{
       
        
    }
    .navbarDiv{
     
        
    .navbarlink{
      
        margin: 0 auto;
        
        
        font-size: 14px;
      
       
        font-family: 'Work Sans', sans-serif;
        .link-list{
            margin: auto 0;
           
            
            a{
                color:#9391a4;
                font-weight: 100;
                width: 90px;
               
                padding: 0 5px;
               
                
            }
    
        }
      
       
    }
    }
    }